.line-ref {
    font-style: italic;
}

.tagged-content {
    font-weight: bold;
}

.bookmark-tree {
    display: grid;
    grid-template-columns: [gutter-start] 1.5em [gutter-end content-start] auto [content-end];
    grid-template-rows: [self-start] auto [self-end] auto;
    grid-template-areas:    "bookmark bookmark";
    /* When nested, appears in "content" column-span */
    grid-column: content;
}

.bookmark-tree > .bookmark {
    grid-area: bookmark;
}

.bookmark {
    display: grid;
    grid-template-columns: [gutter-start] 1.5em [gutter-end content-start] auto [content-end];
    grid-template-areas: "controls content";
    cursor: default;
}

.bookmark:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
}

.dragging-bookmark {
    opacity: 0.5;
}

.bookmark > .controls {
    grid-column: controls-start / controls-end;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.bookmark > .controls .drag-handle {
    cursor: grab;
}

.bookmark > .content {
    grid-column: content-start / content-end;
    margin-bottom: 0.4em;
}

.bookmark > .content > .indicators {
    float: right;
    font-size: xx-small;
}

.bookmark-note {
    cursor: context-menu;
}

.casefile-ui {
    position: relative;
}

.casefile-ui .bookmarks-forest {
    position: relative;
    z-index: 30;
    background-color: var(--vscode-sideBar-background);
}

.casefile-ui .drop-shadow {
    position: fixed;
    top: -20px;
    z-index: 50;
    height: 6px;
    pointer-events: none;
    border-radius: 3px;
    background-color: var(--vscode-list-highlightForeground);
    opacity: 0.5;
}

.casefile-ui .bookmark-trash {
    display: flex;
    align-items: self-start;
    background-color: var(--vscode-list-inactiveSelectionBackground);
    color: var(--vscode-list-inactiveSelectionForeground);
    padding: 3px;
    position: relative;
    z-index: 40;
}

.casefile-ui .bookmark-trash[data-drop-status="current-target"] {
    background-color: var(--vscode-diffEditor-removedTextBackground);
    color: var(--vscode-diffEditor-removedTextForeground);
}

.casefile-ui .bookmark-trash div {
    margin: auto;
}

body {
    background-color: transparent;
    padding-left: 1em;
}