.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
notes/**
**/*.vsix
pkg/**
node_modules/**
!node_modules/@vscode/codicons/dist/**
